@using Tanka.Nancy.Optimization
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta name="fragment" content="!">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>@Model.Title</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("/css/theme.css")
        <link rel="stylesheet" href="/styles/highlight/xcode.css">
        <link rel="stylesheet" href="/Content/themes/base/jquery.ui.all.css">
        <link rel="stylesheet" href="/Content/toaster.css">
    </head>
    <body ng-app="tankaAdmin">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
        <nav class="admin-navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">@Model.Title</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/blogposts">Blog Posts</a></li>
                    <li><a href="#!/blogposts/create">Create Post</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!/settings">Settings</a></li>
                            <li><a href="#!/users">Users</a></li>
                            <li class="divider"></li>
                            <li><a>Version: @Tanka.Version</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@RenderContext.Context.CurrentUser.UserName <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-href="#!/user/current/password">Change Password</a></li>
                        </ul>
                    </li> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
            @RenderBody()
        <!--[if lt IE 9]>
            <script src="scripts/vendor/es5-shim.min.js"> </script>
            <script src="scripts/vendor/json3.min.js"> </script>
        <![endif]-->

        <!-- build:js scripts/vendor.js -->
        <script src="/scripts/jquery-2.0.3.min.js"> </script> 
        <script src="/scripts/angular.min.js"> </script>
        <script src="/scripts/angular-route.min.js"> </script>
        <script src="/scripts/angular-cookies.min.js"> </script>
        <script src="/scripts/angular-animate.min.js"> </script>
        <script src="/scripts/bootstrap.min.js"> </script>
        <script src="/scripts/ui-bootstrap-tpls-0.9.0.min.js"> </script>
        <script src="/scripts/jquery-ui-1.10.3.min.js"> </script>
        <script src="/app/vendor/jquery.textarea-expander.js"> </script>
        <script src="/Scripts/moment-with-langs.min.js"> </script>
        <script src="/Scripts/vendor/marked.js"> </script>
        <script src="/app/vendor/highlight/highlight.pack.js"> </script>
        <script src="/Scripts/vendor/ace-min-noconflict/ace.js"> </script>
        <script src="/Scripts/vendor/ui-ace.js"> </script>
        <script src="/Scripts/vendor/ace-min-noconflict/mode-markdown.js"> </script>
        <script src="/Scripts/vendor/ace-min-noconflict/theme-terminal.js"> </script>
        <script src="/Scripts/vendor/toaster.js"> </script>
        <!-- endbuild -->

        <!-- build:js scripts/application.js -->
        <script src="/admin/scripts/app.js"> </script>
        <script src="/admin/scripts/api.js"> </script>
        <script src="/admin/scripts/directives.js"> </script>

        <script src="/admin/scripts/controllers/login.js"> </script>
        <script src="/admin/scripts/controllers/index.js"> </script>
        <script src="/admin/scripts/controllers/blogpost.js"> </script>
        <script src="/admin/scripts/controllers/blogposts.js"> </script>
        <script src="/admin/scripts/controllers/settings.js"> </script>
        <script src="/admin/scripts/controllers/user-change-password.js"> </script>

        <!-- endbuild -->

        <!-- build:js scripts/framework.js -->
        <script src="/app/utils.js"> </script>
        <script src="/app/common.js"> </script>
        <!-- endbuild -->

        <!-- build:js scripts/services.js -->
        <script src="/app/api.js"> </script>
        <script src="/admin/scripts/api.js"> </script>
        <!-- endbuild -->
    </body>
</html>